#spinner {
  border: 5px solid rgb(233, 233, 233);
  border-radius: 50%;
  border-top: 5px solid #835AFD;
  -webkit-animation: spin .6s linear infinite;
  animation: spin .6s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
